<form class="form-inline" method="post">

    <div class="panel panel-default panel-btn">
        <div class="panel-heading">
            <div class="form-group">
                <label>状态：</label>
                <select class="form-control" name="status">
                    <option value="">请选择</option>
                    <option value="1">启用</option>
                    <option value="0">禁用</option>
                </select>
            </div>

            <div class="form-group">
                <label>是否绑定账号：</label>
                <select class="form-control" name="binding">
                    <option value="">请选择</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>

            <div class="form-group">
                <input type="text"  class="form-control" name="user_name" value=""  placeholder="多姓名搜索(空格逗号隔开)">
            </div>

            <div class="form-group">
                <input type="text"  class="form-control" name="account" value=""  placeholder="多帐号搜索(逗号隔开)">
            </div>

            <div class="form-group">
                <button class="btn btn-info" type="Submit"><i class="glyphicon glyphicon-search" aria-hidden="true"></i>搜索</button>
            </div>
        </div>
    </div>
    <br>
</form>
