.title{
    font-size: 32px !important;
}
@media screen and (max-width: 1560px) {
    .title {
        font-size: 21px;
    }
}
.projectLink:hover{box-shadow: 2px 2px 2px #f5f5f5}
.ant-upload{width: 100%;border: 2px #eeeeee dashed;line-height: 4}
